.menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menuTitle{
    font-family:cursive;
    font-size:60px;
}
.menuList{
    width:70vw;
    height:auto;
    display:grid;
    grid-template-columns:1fr 1fr 1fr ;
    place-items:center;
}
.menuItem{
    width:300px;
    height:350px;
    border-radius:30px;
     box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    margin-right:20px;
  
    margin-bottom:50px;
}
.menuItem div{
    height:200px;
    border-top-right-radius:30px;
     border-top-left-radius:30px;
      background-position: center;
}
.menuItem p,.menuItem h1{
    padding-left:20px;
      padding-right:20px;
    
}
.menuItem p{
    margin-top:-10px;
}